@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

option {
    @apply text-gray-300 outline-gray-700 bg-gray-900 hover:bg-emerald-600 transition duration-200 ease-in-out
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Untuk Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.dataTables_filter,
.dataTables_length,
.dataTables_info {
    display: none !important;
}

.dataTables_paginate.paging_simple_numbers {
    @apply text-xs my-2;
}

.dataTables_paginate.paging_simple_numbers
span .paginate_button.current {
    @apply text-xs text-gray-300 bg-none hover:bg-none border border-emerald-600 hover:border-emerald-900 rounded-sm transition duration-300 ease-in-out;
}

.dataTables_paginate.paging_simple_numbers
span .paginate_button {
    @apply text-gray-300 bg-none hover:bg-none border hover:border-emerald-600 rounded-sm transition duration-300 ease-in-out;
}

.dataTables_paginate.paging_simple_numbers .paginate_button.previous:not(.disabled),
.dataTables_paginate.paging_simple_numbers .paginate_button.next:not(.disabled) {
    @apply bg-none border hover:border-emerald-600 hover:bg-emerald-600 rounded-sm transition duration-300 ease-in-out;
}

.dataTables_wrapper table.dataTable thead tr th {
    @apply whitespace-nowrap;
}

.dataTables_wrapper table.dataTable tbody tr td {
    @apply border-b border-gray-800 py-4 whitespace-nowrap;
}
